.timer-container{
          border: 1px solid black;
          border-radius: 0.5rem;
          padding: 0.5rem;
          margin: 0 0 0.5rem 0;
          background-color: white;
}

.timer-title{
          color: blue;
          text-align: center;
}

p{
          text-align: center;
}

.timer-input{
          border-radius: 0.5rem;
          border: 1px solid black;
          text-align: right;
          font-size: x-large;
          padding: 0.25rem 0.5rem;
          width: 14rem;
}

.timer-buttons{
          display: flex;
          gap: 0.5rem;
          justify-content: space-between;
}