.home-container{
          display: grid;
          grid-template-columns: 0.5fr 1fr;
          
          border: 1px solid lightgray;
          border-radius: 10px;
          height: 600px;
          margin-left: 0.5rem;
         
}

.home-left{
          border: 1px solid lightgray;
          border-radius: 10px;
          width: 300px;
          margin-top: 0.5rem;
          margin-left: 1rem;
          margin-bottom: 0.5rem;
}

.titel{
          font-weight: bold;
          margin-left: 1rem;
}

.home-right{
          border: 1px solid lightgray;
          border-radius: 10px;
          margin-top: 0.5rem;
          margin-right: 1rem;
          margin-bottom: 0.5rem;
          
}

.img-code{
          border-radius: 10px;
          margin-top: 1rem;
          margin-left: 1rem;
          width: 500px;
          height: 300px;
}