.product-container{
          border: 1px solid lightgrey;
          border-radius: 0.5rem;
          padding: 0.5rem;
          margin: auto;
          text-align: center;
}

.product-items-container{
          display: grid;
          grid-template-columns: repeat(3, 1fr);
          gap: 2rem;
          overflow: auto;
          height: 560px;
          align-items: start;
          margin-left: 0.5rem;
          margin-top: 0.5rem;
}