.calculator-container{
          background-color: aliceblue;
          border: 1px solid lightgray;
          border-radius: 10px;
          height: 600px;
          margin-left: 0.5rem;
          margin-right: 0.5rem;
}

.calculator{
          background-color: #fff;
          border: 1px solid lightgray;
          box-shadow: 1rem 1rem 2rem 0 rgba(0, 0, 0, 0.2);
          border-radius: 10px;
          height: 350px;
          width: 300px;
          margin: auto;
          margin-top: 5rem;
}


.display-container{
          display: flex;
          justify-content: center;
          align-items: center;
}

.display{
          display: flex;
          justify-content: flex-end;
          align-items: center;
          height: 50px;
          width: 200px;
          background-color: lightgray;
          border: 1px solid lightgray;
          border-radius: 10px;
          padding-right: 0.5rem;
          margin-left: 0.5rem;
          margin-right: 0.5rem;
          margin-top: 1rem;
          
}

.app-cal{
          display: flex;
          justify-content: center;
          align-items: center;
}

.cal-buttons-items{
          display: grid;
          grid-template-columns: repeat(4, 1fr);
          grid-template-rows: repeat(5, 1fr);   
          grid-gap: 5px;
          margin : 1rem 1rem 1rem 1rem;

}

.btncal{
          border: 1px solid lightgrey;
          
}
